.games-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: 2;
}
.jg-banner {
  background-image: linear-gradient(to right, darkblue, orange);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

.jg-banner img {
  display: block;
  margin: 0 auto;
  width: 700px;
}
.trailer {
 margin: auto
}

.steam-link {
  background-color: black;
  color: white;
  text-align: center; /* Center the text horizontally */
  padding: 20px 0; /* Add top and bottom padding */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.75); /* Add shadow effect */
  margin-bottom: 20px;

  h2 {
    display: block;
    padding: 20px 0;
    a {
      color: #fcb045;
      text-decoration: underline; /* Underline the link */
      img {
        vertical-align: middle;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
.jg-content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;

}

.fade-in {
  opacity: 1;
}

#divider {
  padding-right: 20px;
}
